/*	=======================================================================================================
	configtool10.css
	======================================================================================================= */
/* Needed for IE10 and above */
input:focus
{
	padding-right: 0;  
}
input[type="checkbox"]:focus {
	padding: 0;
}