/*	=======================================================================================================
	SystemSettings.css
	======================================================================================================= */

#sys_grpSyncWithInternet {
	display: none;
}

#sys_btnSyncNow {
	font-size: 8pt;
	font-weight: normal;
	margin-left: 60px;
	padding: 4px 19px;
}

.custom-combobox {
	position: relative;
	display: inline-block;
}

.custom-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
}

.custom-combobox-input {
	margin: 0;
	padding: 3px 5px;
}
