/*	=======================================================================================================
	tabs-no-images.css
	======================================================================================================= */
/* root element for tabs  */
ul.css-tabs {
	margin: 0 !important;
	padding: 0;
	height: 30px;
	border-bottom: 1px solid #666;
	-moz-min-width: 720px;
	-ms-min-width: 720px;
	-o-min-width: 720px;
	-webkit-min-width: 720px;
	min-width: 720px;
}

/* single tab */
ul.css-tabs li {
	float: left;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

/* link inside the tab. uses a background image */
ul.css-tabs a {
	float: left;
	font-size: 13px;
	display: block;
	padding: 5px 30px;
	text-decoration: none;
	border: 1px solid #666;
	border-bottom: 0;
	height: 18px;
	background-color: #efefef;
	color: #777;
	margin-right: 2px;
	position: relative;
	top: 1px;
	outline: 0;
	-moz-border-radius: 4px 4px 0 0;
}

ul.css-tabs a:hover {
	background-color: #F7F7F7;
	color: #333;
}

/* selected tab */
ul.css-tabs a.current {
	background-color: #ddd;
	border-bottom: 1px solid #ddd;
	color: #000;
	cursor: default;
}


/* tab pane */
.css-panes > div {
	/*  display:none; */
	border: 1px solid #666;
	border-width: 0 1px 1px 1px;
	min-height: 150px;
	padding: 8px 20px;
	background-color: #ddd;
	-moz-min-width: 720px;
	-ms-min-width: 720px;
	-o-min-width: 720px;
	-webkit-min-width: 720px;
	min-width: 720px;
}

div.css-panes.div {
	bottom: 90%;
}

.NoShow {
	display: none;
}

div.main {
	display:block;
}
