<!-- This page redirects to a page inside the static project folder -->

<!DOCTYPE html>
<html lang="en">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<head>
		<link rel="stylesheet" href="themes/tucson/configtool.css" />
		<title>Tucson Test</title>
	</head>
	<body onload="window.location.href='demo/demo.htm';">
		<h1>Tucson Test</h1>
		<p>Welcome to Tucson Test</p>
		<a href="demo/demo.htm">Demo</a>
	</body>
</html>
