button#clearscreen{
    width: 15em;
}

button#back{
    width:15em;
}

#resizeGifDiv {
    margin: 0.5em 0;
    border: black thin solid;
    margin-bottom: 2em;
}

#jsonText {
    width: 99.5%;
    margin: 1em 0;
    height: 3.5em;
    /* Prevent resizing horizontally */
    resize: vertical;
}

#response {
    width: 99.5%;
    flex-wrap: nowrap;
    height: 22em;
    margin-right: 0;
    /* Prevent resizing horizontally */
    resize: vertical;
}

.container {
    padding: 0.5em;
    border: black thin solid;
}
